<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlBackOffice"
         value="http://repsol-qa.zetesvulcan.pt/ZetesVulcan.BackOffice/"/>
    <add key="PathDriverFirefox"
         value="C:\Projects\My\Selenium\FirefoxDriver\"/>
    <add key="PathDriverChrome"
         value="C:\Projects\My\Selenium\ChromeDriver\"/>
    <add key="PathDriverIE"
     value="C:\Projects\My\Selenium\InternetExplorerDriver\"/>
  </appSettings>
</configuration>